<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ARK</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/043ce83f9a.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <section class="navbar">
      {{!-- Navbar Title --}}
      <p><a href="/" id="title">ARK </a><img src="../../public/images/arkLogo.png" alt="Ark Logo"></p>
      {{!-- Navbar --}}
      <ul class="navbarOne">

        {{#if logged_in}}
        <li><a href="/">Home</a></li>
        {{else}}
        <li><a href="/login">Home</a></li>
        {{/if}}

        {{#if logged_in}}
        <li><a href="/profile">Profile</a></li>
        {{else}}
        <li><a href="/login">Profile</a></li>
        {{/if}}

        {{#if logged_in}}
        <li><a href="/tasks">Tasks</a></li>
        {{else}}
        <li><a href="/login">Tasks</a></li>
        {{/if}}

      </ul>
      <ul class="navbarTwo">
        <li><div class="search-container">
        <form action="/">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        </div></li>
        <li><div class="loginBar">
          {{#if logged_in}}
            <a href="/profile">Profile</a>
            <button class="no-button" id="logout"></button><i class="fa-solid fa-user"></i>
            Logout</button>
          {{else}}
            <i class="fa-solid fa-user"></i>
            <a href="/login" id="login">Login</a>
          {{/if}}
    <!-- Render script for logged in users only -->
          {{#if logged_in}}
            <script src="/js/logout.js"></script>
          {{/if}}
      </div>
      </li>
      </ul> 
    </section>
  </header>

  <main>
    {{{body}}}
  </main>
  </body>
</html>
