
    {{#each tasks as |task|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/tasks/{{task.id}}">{{task.task_name}}</a></h4>
        <p>Task by :{{task.user.first_name}}</p>
        <p>Task Description :{{task.description}}</p>
        <p>Length of task : {{task.duration}} minutes</p>
        <p>Status : {{task.status}}</p>
        <p>Last updated : {{task.updatedAt}}</p>


      </div>
    </div>
    {{/each}}
 
