      <div class="card-taskid">
        <h4 style="text-decoration: underline;">{{tasks.task_name}}</h4>
        <p>Task by : {{tasks.creator.user_name}}</p>
        <p>Task Description :{{tasks.description}}</p>
        <p>Length of task : {{tasks.duration}} minutes</p>
        <p>Status : {{tasks.status}}</p>
        <p>Last updated : {{tasks.updatedAt}}</p>
      </div>
